@model IEnumerable<CleanArch.Application.ViewModels.CourseViewModel>

<div class="container">
    <div class="row">
        @foreach (var course in Model)
        {
            <div class="card mb-3 col-12" >
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <img src="@course.ImageUrl" class="card-img" alt="...">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title">@course.Name</h5>
                            <p class="card-text">@course.Description</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
