@model CleanArch.Application.ViewModels.CourseViewModel

<div class="container">
    <div class="card-columns">
        @foreach (var course in Model.Courses)
        {
            <div class="card" style="width: 18rem;">
                <img src="@course.ImageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <span class="card-title">@course.Name</span>
                    @*<p class="card-text">@course.Description</p>*@
                    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                </div>
            </div>
        }
    </div>
</div>
